.navbar {
  width: 100%;
  background-color: rgba(235, 90, 138, 0.801);
}

.nav {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.nav-items {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

h1 {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 2rem;
}

button {
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  font-family: 'Lato', sans-serif;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
  }

  .nav-links a {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
  }

  h1 {
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
  }

  button {
    background: none;
    color: #fff;
    font-size: 12px;
  }
}
