.navbar {
  background-color: rgb(14, 60, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.year-btn{
  border: none;
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.title{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}

.right{
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mic{
  cursor: pointer;
}

.setting{
  margin-left: 10px;
  cursor: pointer;
}
