.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px 0 20px;
}

.nav-items {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 30px;
  align-items: center;
}

.nav-links a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}

.nav-links a:hover {
  color: #000;
  background-color: #fff;
}

h1 {
  color: #fff;
  font-family: 'Croissant One', cursive;
  font-size: 2rem;
  border: 1px solid #fff;
  padding: 7px;
  cursor: pointer;
}

h1:hover {
  color: #000;
  background-color: #fff;
}

button {
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 5px;
  cursor: pointer;
}

button:hover {
  color: #000;
  background-color: #fff;
}

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5px 0 5px;
  }

  .nav-links {
    display: none;
  }

  h1 {
    color: #fff;
    font-family: 'Croissant One', cursive;
    font-size: 1rem;
    border: 1px solid #fff;
    padding: 7px;
  }

  button {
    background: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 3px;
    font-size: 12px;
  }
}
